.contain {
    margin: auto;
    width: 50vw;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.icon {
    text-align: center;
    margin: 10px;
}

.imgIcon {
    width: 64px;
    height: 64px;
}