.header {
    background-color: black;
    position: fixed;
    width: 100%;
    align-content: center;
}

.contain {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    margin: auto;
}

.navHead {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tittle {
    padding: 20px;
    padding-left: 10px;
}

.link {
    padding: 10px;
    text-decoration: none;
    color: inherit;
}

.link:hover {
    background-color: rgb(255, 0, 255, .25);
}