.header {
    min-height: 10vh;
    width: 100%;
    align-content: center;
    position: fixed;
}

.contain {
    align-items: center;
    width: 50vw;
    margin: auto;
    background-color: rgb(255, 255, 255, .25);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.navHead {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tittle {
    padding: 20px;
    padding-left: 10px;
}

.link {
    padding: 10px;
    text-decoration: none;
    color: inherit;
}

.link:hover {
    background-color: rgb(255, 0, 255, .25);
}