.contain {
    width: 50vw;
    min-height: 100vh;
    margin: auto;
    text-align: center;
    align-content: center;
}

.titulo {
    padding: 20px;
    color: var(--orange);
}

.containCard {
    max-width: 100%;
    min-width: 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardContain {
    width: 50vw;
    min-width: calc(240px - 20px);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid;
    margin: auto;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.parCard {
    text-align: left;
    width: calc(30vw - 30px);
    min-width: calc(240px - 20px);
}

.imgCard {
    width: calc(20vw - 30px);
    min-width: calc(240px - 20px);
}

.cardContain:hover {
    transform: scale(1.02);
    background-color: var(--select);
}

.img {
    width: 100%;
    object-fit: contain;
}

.gitRepo {
    width: 240px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid;
    margin-bottom: 20px;
    text-decoration: none;
    color: inherit;
}

.iconContain {
    display: flex;
    flex-wrap: wrap;
    min-width: calc(240px - 20px);
}

.boton {
    padding: 20px;
    text-decoration: none;
    color: inherit;
}

.boton:hover {
    background-color: var(--select);
}

.imgIcon {
    width: 32px;
    height: 32px;
}