.contain {
    width: 50vw;
    margin: auto;
    min-height: 100vh;
    align-content: center;
}

.perfil {
    width: 100%;
}

.iPerfil {
    margin-top: 150px;
    width: 20vw;
    align-content: center;

}

.imgPerfil {
    width: 272px;
    min-width: 272px;
    border-radius: 100%;
    object-fit: contain;
}



.pPerfil {
    width: 100%;
    align-content: center;
}