.contain {
    width: 50vw;
    margin: auto;
    min-height: 100vh;
    align-content: center;
}

.perfil {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.iPerfil {
    margin-top: 150px;
    width: 400px;
    align-content: center;
}

.imgPerfil {
    width: 20vw;
    min-width: 225px;
    height: 20vw;
    min-height: 225px;
    border-radius: 100%;
}



.pPerfil {
    margin-top: 150px;
    width: 400px;
    align-content: center;
}